.navigation {
    display: flex; 
    width: auto;   
    background-color: #1a211d;
    justify-content: space-between;
    border-bottom: solid 1px #2f3630;
    gap: 20px;
    position: sticky;
    top: 0px;
    margin-bottom: 40px;
}


.logo-icon {
    align-self: center;
}

.links {
    margin-left: auto;
    align-self: center;
}

.navigation a {
    padding: 10px;
    text-decoration: none;
}