body {
    width: 90%;
    margin: 0 auto;
}
.main-container {
    color: white;
     max-width: 1536px;
     padding: 80px;

}

.navigation, a {
    color: #9FB0A0;
}

.navigation {
    display: flex; 
    width: auto;
    background-color: #1a211d;
    justify-content: space-between;
    border-bottom: solid 1px #2f3630;
    gap: 20px;
    position: sticky;
    top: 0px;

}

.logo-icon {
    align-self: center;
    margin-left: 10px;
}
 
.logo-text h3 {
    margin-bottom: 0;
}

.logo-text p {
    margin-top: 0;
}

.links {
    margin-left: auto;
    align-self: center;
}

a {
    padding: 10px;
    text-decoration: none;
}

.container-1 {
    display: flex;
    flex-shrink: 1;
    justify-content: space-evenly;
}

.hero {
    flex-basis: 400px;
    flex-shrink: 1;
}

.hero h1 {
    padding-right: 20px;    
}

.CTA {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 15px;
    min-height: 350px;    
}

.CTA button:first-child {
    background-color: #DD5B0C;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
}

.CTA button:last-child {
    background-color: #1a211d;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
}

.CTA button:hover {
    background-color: #2C6E9B;
}

.box {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 700px;
    background-image: linear-gradient(to left top, #25be9a, #e5d7a8);
    border-radius: 25px;
}

.box p {
    background-color: #1a211d;
    color: #49b38c;
    align-self: flex-end;
    border-radius: 10px;
    padding: 3px 5px;
    margin-right: 10px;
}

.bike {
    margin-left: 50px;
    max-width: 300px;
}

.services {
    display: flex;
    justify-content: center;
    width: calc(100% - 300px);
    margin: 50px auto;
    gap: 25px;
}

.service-01 {
    border: solid 2px #516158;
    flex-basis: 400px;
    flex-shrink: 1;
    background-color: #2e3b34;
    border-radius: 10px;
}

.icon {
    width: 10px;
    height: 10px;
}

.service-01 div:first-child {
    color: #DD5B0C;
}

.service-01:hover {
    background-color: #2C6E9B;
}

.service-02 {
    border: solid 2px #516158;
    flex-basis: 400px;
    flex-shrink: 1;
    background-color: #2e3b34;
    border-radius: 10px;
}

.service-02 div:first-child {
    color: #DD5B0C;
}

.service-02:hover {
    background-color: #2C6E9B;
}

.service-03 {
    border: solid 2px #516158;
    flex-basis: 400px;
    flex-shrink: 1;
    background-color: #2e3b34;
    border-radius: 10px;    
}

.service-03 div:first-child {
    color: #DD5B0C;
}

.service-03:hover {
    background-color: #2C6E9B;
}

.information { 
    border: solid 2px #516158;
    background-color: #2e3b34;
    border-radius: 10px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    margin: 50px auto;
}

.adress {
    margin: 10px 10px;
}

.open-weekdays {
    margin: 0px 10px;
}

.open-weekends {
    margin: 0px 10px;
}

.adress p:last-child {
    font-weight: bold;
    margin-top: -10px;
}

.open-weekdays p:last-child {
    font-weight: bold;
    margin-top: -10px;
}

.open-weekends p:last-child {
    font-weight: bold;
    margin-top: -10px;
}

.information button {
    background-color: #2e3b34;
    border: solid 2px #516158;
    margin: 1px 10px;
    border-radius: 10px; 
    padding: 5px 15px;
    align-self: center;
    color: white;
    font-weight: bold;
}

.information button:hover {
    background-color: #2C6E9B;
}

/* Desktop-first media queries */

@media screen and (max-width:1536px) {
    .box {
        flex-basis: 600px;
    }
    .services {
        gap: 20px;
        width: calc(100% - 20px);
    }
    .information {
        margin: 20px auto;
        width: calc(100% - 20px); 
    }
} 

@media screen and (max-width:1280px) {
    .box {
        flex-basis: 600px;
    }
    .services {
        gap: 15px;
        width: calc(100% - 20px);
    }
    .information {
        margin: 20px auto;
        width: calc(100% - 20px); 
    }   
} 

@media screen and (max-width:1024px) {
    .container-1 {
        flex-direction: column;        
    }
    .box {
        order: 1;
        flex-basis: 500px;
    }
    .hero {
        order: 2;
        flex-basis: 250px;
    }
    .bike {
        max-width: 250px;;
    }
    .CTA {
        min-height: 80px;
    }
    .services {
        flex-direction: column;
        width: calc(100% - 20px);
    }
    .service-01{
        flex-basis: 300px;
    }
    .service-02{
        flex-basis: 300px;
    }
    .service-03{
        flex-basis: 300px;
    }
    .information {
        margin: 20px auto; 
        width: calc(100% - 20px);
    }   
} 

@media screen and (max-width:768px) {
    .main-container {
        padding: 20px;
    }
    .links {
        flex-wrap: wrap;
    }
    .container-1 {
        flex-direction: column;        
    }
    .box {
        order: 1;
        flex-basis: 400px;
    }
    .hero {
        order: 2;
    }
    .bike {
        max-width: 200px;;
    }
    .CTA {
        min-height: 60px;
    }
    .services {
        flex-direction: column;
        margin-top: 60px;
        width: calc(100% - 20px);
        
    }
     .service-01{
        flex-basis: 250px;
    }
    .service-02{
        flex-basis: 250px;
    }
    .service-03{
        flex-basis: 250px;
    }
   .information {
        margin: 20px auto; 
        width: calc(100% - 20px);
    }      
} 

@media screen and (max-width:640px) {
    .main-container {
        padding: 10px;
    }
    .container-1 {
        flex-direction: column;        
    }
    .box {
        order: 1;
        flex-basis: 400px;
    }
    .hero {
        order: 2;
    }
    .bike {
        max-width: 200px;
    }
    .CTA {
        min-height: 40px;
    }
    .services {
        flex-direction: column;
        margin-top: 40px;
        width: calc(100% - 20px);
    }
    .service-01{
        flex-basis: 200px;
    }
    .service-02{
        flex-basis: 200px;
    }
    .service-03{
        flex-basis: 250px;
    }
   .information {
        margin: 20px auto; 
        width: calc(100% - 20px);
    }
} 

@media screen and (max-width:475px) {
    .main-container {
        padding: 10px;
    }
    .container-1 {
        flex-direction: column;        
    }
    .box {
        order: 1;
        flex-basis: 400px;
    }
    .hero {
        order: 2;
        flex-basis: 200px;
    }
    .bike {
        max-width: 200px;;
    }
    .CTA {
        min-height: 20px;
    }
    .services {
        flex-direction: column;
        margin-top: 20px;
        width: calc(100% - 20px);
    }
    .service-01{
        flex-basis: 200px;
    }
    .service-02{
        flex-basis: 200px;
    }
    .service-03{
        flex-basis: 250px;
    }
    .information {
        margin: 20px auto; 
        width: calc(100% - 20px);
        gap: 15px;
    }  
} 